@model LiteCommerce.DomainModels.Product

<form class="form-horizontal" method="post" action="~/Product/Delete/@Model.ProductID">
    <div class="form-group">
        <label class="control-label col-sm-2">Tên hàng hóa:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.ProductName</p>
        </div>

        <label class="control-label col-sm-2">Ảnh:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Photo</p>
        </div>

        <label class="control-label col-sm-2">Giá bán:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Price</p>
        </div>

        <label class="control-label col-sm-2">Loại hàng</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.CategoryID</p>
        </div>
        <label class="control-label col-sm-2">Nhà cung cấp</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.SupplierID</p>
        </div>

        <label class="control-label col-sm-2">Đơn vị tính</label>
        <div class="col-sm-4">
            <p class="form-control-static">@Model.Unit</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa nhà cung cấp này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Product/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form>


